body{
  margin: 10px;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/122427/roll-the-dice-craps-board-game-points-122427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
.jumbotron{
  background-image:linear-gradient(#d170d0,#ebdc54,#4a93de);
  border-radius: 15px;
  text-align: center;
}
.well{
  background-image: url("https://images.pexels.com/photos/1225131/pexels-photo-1225131.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#startButton{
  left: 15%;
  color: #f55612;
  background-color: #090404;
  border-radius: 5px;
}
#rules{
  display: none;
  text-align: left;
  left: 300px;
}
.clickable{
  cursor: pointer;
  color: #036bd5;
}
.clickable:hover{
  text-decoration: underline;
}

label{
  color: #28e4d9;
  font-weight: bolder;
}

p{
  color: #121d1d;
  font-weight: bolder;
  font-size: 20px;
}

h2{
  color: #594f07;
  font-weight: bolder;
  font-size: 30px;
}
img{
  border-radius: 20px;
}
