body{
  margin: 10px;
  background-repeat: no-repeat;
  background-image: url("https://www.pexels.com/photo/close-up-photography-of-4-red-white-dice-40870/");
  background-size: cover;
}
.jumbotron{
  background-image:linear-gradient(#d170d0,#ebdc54,#4a93de);
  border-radius: 15px;
  text-align: center;
}
#startButton{
  position: relative;
  left: 35%;
  color: #f55612;
  background-color: #090404;
  border-radius: 5px;
}
#rules{
  display: none;
  text-align: left;
  left: 300px;
}
.clickable{
  cursor: pointer;
  color: #036bd5;
}
.clickable:hover{
  text-decoration: underline;
}
