body{
  margin: 10px;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/122427/roll-the-dice-craps-board-game-points-122427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
.jumbotron{
  background-image:linear-gradient(#d170d0,#ebdc54,#4a93de);
  border-radius: 15px;
  text-align: center;
}
.well{
  background-image: url("https://images.pexels.com/photos/988874/pexels-photo-988874.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1000px;
  margin-left:10%;
  opacity: 0.5px;

}

#startButton{
  left: 15%;
  color: #f55612;
  background-color: #090404;
  border-radius: 5px;
}
#rules{
  display: none;
  text-align: left;
  left: 300px;
}
.clickable{
  cursor: pointer;
  color: #036bd5;
}
.clickable:hover{
  text-decoration: underline;
}

label{
  color: #28e4d9;
  font-weight: bolder;
}

p{
  color: #121d1d;
  font-weight: bolder;
  font-size: 20px;
  font-family: cursive;
}

h2{
  color: #594f07;
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Bungee Shade', cursive;
}
img{
  border-radius: 20px;
}

li{
  font-family: 'Berkshire Swash',cursive;
  font-size: 20px;
  font-weight: bold;
  color: #a3361e;
}

#gameArea{
  display:none;
}

#newGame{
  cursor: pointer;
}
#newGame:hover{
  text-decoration: underline;
  color: #1e3f9f;
}

.player-section{
  display: none;
}
